body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#map {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: #f5f5f5;
}

/* Узел */
.node {
    position: absolute;
    padding: 10px 15px;
    background: #4CAF50;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

/* Карточка */
#card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    width: 300px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.hidden {
    display: none;
}
